<div align="left">
<%= link_to("<<BACK", {:controller => 'users',:action => 'show', :id => current_user.id})%>
</div>
<div class="Edit Profile">
	<h2 align="center" color="red">Edit Profile</h2>
	
	<%= form_for(:user, :url => {:action => 'update', :id => @current_user.id}) do |f| %>
	<table summary="Edit Profile" align="center">
		<tr>
			<th>Name:</th>
			<td><%= f.text_field(:name)%></td>
		</tr>
		<tr>
			<th>Username:</th>
			<td><%= f.text_field(:username)%></td>
		</tr>
		<tr>
			<th>Sex:</th>
			<td>Male<%= f.radio_button(:sex,"Male") %>
			Female<%= f.radio_button(:sex, "Female") %></td>
			
		</tr>
		<tr>
			<th>Dob:</th>
			<td><%= f.select :dob,[['1','1'],['2','2'],['3','3'],
			['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],
			['9','9'],['10','10'],['11','11']] %>
			<%= f.select :dob,[['1','1'],['2','2'],['3','3'],
			['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],
			['9','9'],['10','10'],['11','11']] %>
			
			<%= f.select :dob,[['1990','1990'],['1991','1991'],['1992','1992'],['1993','1993'],
			['1994','1994'],['1995','1995'],['1996','1996'],['1997','1997'],['1998','1998'],
			['1999','1999'],['2000','2000'],['2001','2001']] %></td>
		</tr>
		<tr>
			<th>Work:</th>
			<td><%= f.select :work,[['Student','Student'],['Professional','Professional'],['Other','Other']] %></td>
		</tr>
		<tr>
			<th>Mobile No.</th>
			<td><%= f.text_field(:mobile)%></td>
		</tr>
		<tr>
			<th>Address:</th>
			<td><%= f.text_area(:address,:size => "40x5")%></td>
		</tr>
		<tr>
			<th>Email Id:</th>
			<td><%= f.text_field(:email)%></td>
		</tr>
		
		<tr>
			<th>Password:</th>
			<td><%= f.password_field(:password)%></td>
		</tr>
		
		</table>
		<div class="form_buttons" align="center">
			<%= submit_tag("Save")%>
		</div>
	
	<% end %>
