<div class="Feedback">
	<h2 align="center" color="red">Write to me</h2>
	
	<%= form_for(:user, :url => {:action => 'write'}) do |f| %>
	<table summary="Edit Profile" align="center">
		<tr>
			<th>Name:</th>
			<td><%= f.text_field(:name)%></td>
		</tr>
		
		<tr>
			<th>Email Id:</th>
			<td><%= f.text_field(:email)%></td>
		</tr>
		<tr>
			<th>Content:</th>
			<td><%= f.text_area(:address, :size => "40x5")%></td>
		</tr>
		
		
		</table>
		<div class="form_buttons" align="center">
			<%= submit_tag("Submit")%>
		</div>
	
	<% end %>
