
<% if can? :add_article, :all%>
<%= link_to 'Add Article', {:controller => 'articles',
	 :action =>'add_article'} %>
	 <%= link_to 'Users List', {:controller => 'users',
	 :action =>'list'} %>
<% end %>

<div ><%= image_tag('blog.jpg', :width => "400", :height => "200") %> </div>
	<% @articles.each do |article| %>
	<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h2 class="media-heading"><%= article.heading %></h2>
		<p><blockquote class="pul-right"> <%= article.content %></blockquote> <%= link_to("Read more", 
		{:controller=> 'articles',:action => 'read_more', :id => article.id})%></p>by:
		<%= article.author %>
		<% if can? :update_article, :all%>
		<%= link_to("Edit", {:controller=> 'articles',:action => 'edit_article', :id => article.id})%>
		<%= link_to("Delete", {:controller=> 'articles',:action => 'delete_article', :id => article.id})%>
		<% end %>
		<%= article.like_no%>
		<%= link_to("Likes", {:controller=> 'articles',:action => 'like_no', :id => article.id})%>
		<%= article.comment_no%>
		<%= link_to("Comments", {:controller=> 'articles',:action => 'read_more', :id => article.id})%>
	
		</div>
	</div>
	</br>
<% end %>
