<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "users", :media => "all" %>
  <%= javascript_include_tag "users" %>
  <%= csrf_meta_tags %>

<%= render('layouts/header')%>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="conatiner">
	<div class="row">
		<div class="span4 offset2", style="color:#ff1234; background:#451752;width:300px;padding:20px;margin:20px;">
			Write Stuff Here.<%= image_tag('front.jpg') %><p>
				The 1998 Pacific hurricane season was a moderately active Pacific hurricane season with seven
			 tropical cyclones directly affecting land. The first tropical cyclone developed on June 11,
			  which was about ten days later than the normal start of the season. The final storm of the year, 
			  Hurricane Madeline (pictured), dissipated on October 20. Storm activity in the Central
			   Pacific Ocean was low, with just one tropical depression forming in the basin. Two tropical
			    cyclones from the Eastern Pacific, Darby and Estelle, also entered the central Pacific, 
			    with the former entering as a hurricane. The season produced 13 named storms, which was 
			    slightly below the average of 16 named storms per season.</p></div>
			    
		
		<div id="main_block"><div class="span10",style="color:#000034; background:#005715 ;width:800px;">
			<%= yield %></div></div>
	</div>
</div>

<script src="js/bootstrap.min.js"></script>
<%= render('layouts/footer')%>
</body>

</html>
