<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "users", :media => "all" %>
  <%= javascript_include_tag "users" %>
  <%= csrf_meta_tags %>

<%= render('layouts/header')%>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="conatiner">
	<div class="row">
		<div class="span4", style="color:#ff1234; background:#451752;width:300px;padding:20px;margin:20px;">Write Stuff Here.
			The 1998 Pacific hurricane season was a moderately active Pacific hurricane season with seven
			 tropical cyclones directly affecting land. The first tropical cyclone developed on June 11,
			  which was about ten days later than the normal start of the season. The final storm of the year, 
			  Hurricane Madeline (pictured), dissipated on October 20. Storm activity in the Central
			   Pacific Ocean was low, with just one tropical depression forming in the basin. Two tropical
			    cyclones from the Eastern Pacific, Darby and Estelle, also entered the central Pacific, 
			    with the former entering as a hurricane. The season produced 13 named storms, which was 
			    slightly below the average of 16 named storms per season.</div>
		<div class="span11",style="color:#ff1234; background:#005715 ;width:800px;"><%= yield %></div>
		<div class="span3",style="color:#817747; background:#474515; width:300px;;padding:0px;margin:0px;">For Stuffs.
		The Franz Josef Glacier is found in the Westland Tai Poutini National Park and descends from 
		New Zealand's Southern Alps to 300 metres (980 ft) above sea level. The glacier exhibits 
		a cyclic pattern of advance and retreat. By mid-2010, its latest cycle of advance had ended; 
		it is currently in a state of retreat.
			</div>
	</div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<%= render('layouts/footer')%>
</body>

</html>
